<!DOCTYPE html>

<html> 
<head> 
	<title>智能語音家電開關</title> 
	<!-- 以下這5行是引用bootstrap及jquery CDN (Content Delivery Network)的標準動作 -->
	<meta charset="utf-8"> <!-- 指定內文的編碼，若要顯示中文，通常用utf-8這個unicode編碼 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- 以下是引用Hightcharts之CDN -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	
	<!-- 以下這個匿名函數是jquery的ready事件處理方法，當網頁Ready好的就會自動執行 -->
	<!-- 因此，可以把要註冊的所有事件處理函數及需要先執行的命令放在這個函數內 -->
	<script>
		$(function(){
			
			<!-- 幫id為btn1的按鈕標籤註冊了點擊事件的處理方法 -->
			$('#btn1').click(function(){
				$.post(
					'/save_retrieve_thdata',
					function(data){
						$('#RoomTemp').val(data[0].temperature);
						$('#RoomHumid').val(data[0].humidity);
						
						var tempa = new Array();					
						var humida = new Array();
						
						for (i=0; i< data.length; i++)
						{	
							tempa[i] = Number(data[i].temperature);
							humida[i]= Number(data[i].humidity);	
						}
						plotcharts(tempa, humida);
					}
				);
			});
			
			
			<!-- 幫id為btn2的按鈕標籤註冊了點擊事件的處理方法 -->
			$('#btn2').click(function(){
				window.location.href = '/';
			});	
			
			
	</script>
	
	<style>
		input {font-size:12px}
	</style>
</head>

<body class="bg-success">
<nav  style="font-family:Microsoft JhengHei">
<div class="container">

	<center>
		<h2 class="text-danger"><b>智能語音家電開關監控視窗</b></h2>
        <img id="streaming" width="550" height="350" style="border-style: solid;border-width: 5px 5px 5px 5px" alt="No Video Streaming Available!">
		
	</center>
	</nav>
	<center>
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</center>
<script>
	// 建立影像串流伺服器網址
	// 請將此URL改為http://IP_RPi:8000/stream.mjpg';
	// 例如IP of PRi = 10.0.2.103，則URL=http://10.0.2.103:8000/stream.mjpg';
	var web_video_streaming_url = 'http://172.20.10.5:8000/stream.mjpg';
	// 取得顯示即時影像串流之元素(element)
	var streamingelement = document.getElementById("streaming");
	
	// 顯示影像串流副程式
	function loadstreaming()
	{
		streamingelement.src = window.web_video_streaming_url;
	}
	
	// 不要顯示影像串流副程式
	function offloadstreaming()
	{
		streamingelement.src = "";
	}
	
	// 讓網頁載入時顯示影像串流
	loadstreaming();    
</script>
</body>
</html>